<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@350;400;600&display=swap" rel="stylesheet">
    <style>
        html {
            font-family: 'Roboto Mono', monospace;
            font-size: 16px;
            font-weight: 350;
            scrollbar-width: thin;
            scrollbar-gutter: stable;
        }
    </style>
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="/assets/css/main.min.css" />
    <meta name="application-name" content="Project Name" />
    <meta name="theme-color" content="#000" />
    <meta property="og:type" content="website" />
    {% seo %}
</head>