@charset "UTF-8";


/* Light */
:root {
    --text-color: #000;
    --back-color: #fff;
}

:root {
    color: var(--text-color);
    fill: var(--text-color);
    stroke: var(--text-color);
}

::selection {
    color: var(--back-color);
    background: var(--text-color);
}

html {
    scroll-behavior: smooth;
}

/* Reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    text-rendering: optimizeLegibility;
}

img,
picture {
    max-inline-size: 100%;
    block-size: auto;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* Basic */

@media screen and (max-width: 480px) {

    html,
    body {
        min-width: 320px;
    }

}

body {
    background: var(--back-color);
    overflow-x: hidden;
}

body.is-loading *,
body.is-loading *:before,
body.is-loading *:after {
    animation: none !important;
    transition: none !important;
}

/* Type */

body,
input,
select,
textarea {
    line-height: 1.5;
}

/* Loader */

@keyframes overlay-hide {
    0% {
        opacity: 1;
        z-index: 100002;
    }

    15% {
        opacity: 1;
        z-index: 100002;
    }

    99% {
        opacity: 0;
        z-index: 100002;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes overlay-show {
    0% {
        opacity: 0;
        z-index: -1;
    }

    15% {
        opacity: 1;
        z-index: 100002;
    }

    99% {
        opacity: 1;
        z-index: 100002;
    }

    100% {
        opacity: 1;
        z-index: 100002;
    }
}

body:after {
    animation: overlay-hide 0.5s ease-in forwards !important;
    background-color: var(--back-color);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}


body.is-loading:after {
    animation: none !important;
    opacity: 1;
    z-index: 100000;
}

body.transition:after {
    animation: overlay-show 1.25s ease-in forwards !important;
    opacity: 1;
    z-index: 1000000;
}

.hide {
    visibility: hidden;
}

.fhide {
    display: none !important;
}

.fade-in {
    animation: 0.5s fadeIn ease-in forwards;
}

.fade-out {
    animation: 0.5s fadeOut ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}